<div class="jumbotron">
    <div class="container">
      <div class="col-md-12 mx-auto">
        <h2>Warehouse Commodity Map</h2>
  
        <div name="formDiv" *ngIf="!searchOpen">
          <form name="form" (ngSubmit)="f.form.valid && save(f)" #f="ngForm" novalidate>
            <input type="hidden" class="form-control" name="_id" [(ngModel)]="model._id">
            <input type="hidden" class="form-control" name="_warehouseCode" [(ngModel)]="model._warehouseCode">
            <div class="form-group row">
              <div class="col-sm-6">
                <label for="_warehouseCode">Warehouse Code</label>
                <div style="box-align:center">
                    <div>
                      <input type="text" (input)="onOrgQuickFilterChanged()" id="orgQuickFilter" placeholder="quick filter..." />
                     
                    </div>
                    <div style="height: 300px"> 
                    <ag-grid-angular style="width: 66%; height: 100%;" class="ag-theme-balham"
                      [paginationAutoPageSize]="true" [pagination]="true" [rowData]="orgRowData" [columnDefs]="orgColumnDefs"
                      [defaultColDef]="defaultColDef" [suppressRowClickSelection]="true" [rowSelection]="rowSelection"
                      (gridReady)="onOrgGridReady($event)">
                    </ag-grid-angular>
                  </div>


              </div>
            </div>
              <div class="col-sm-6">
                <label for="_commId">Commodity Id</label>
                <div style="box-align:center">
                    <div>
                      <input type="text" (input)="onCommQuickFilterChanged()" id="commQuickFilter" placeholder="quick filter..." />
                  
                    </div>
                    <div style="height: 300px">
                    <ag-grid-angular style="width: 66%; height: 100%;" class="ag-theme-balham"
                      [paginationAutoPageSize]="true" [pagination]="true"
                      [defaultColDef]="defaultColDef" [rowSelection]="rowMultiSelection"  [rowMultiSelectWithClick] = "true"
                      (gridReady)="onCommGridReady($event)">
                    </ag-grid-angular>
                  </div>
               
              </div>
  
            </div>
            </div>
  
            
            
            <div class="form-group row">
              <div class="col-sm-10"></div>
              <div class="col-sm-1">
                <button [disabled]="loading" class="btn btn-primary px-4 float-right"
                  *ngIf="!disableFields && !editDisabled">Save</button>
                <button [disabled]="loading" class="btn btn-primary px-4 float-right"
                  *ngIf="!disableFields && editDisabled" (click)="edit(f)">Edit</button>
                <button class="btn btn-primary px-4 float-right" *ngIf="disableFields" (click)="enableCreate(f)">Add
                  New</button></div>
              <div class="col-sm-1">
                <button class="btn btn-primary px-4 float-right" (click)="viewMappingRecords(f)">View</button>
              </div>
              <img *ngIf="loading"
                src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
  
            </div>
          </form>
        </div>
        <!--search div starts here-->
        <div name="searchDiv" *ngIf="searchOpen">
          <form name="searchForm" (ngSubmit)="getRecordsOnInit(searhModel)" #f="ngForm">
            <div class="form-group row">
              <div class="col-sm-6">
                <label for="_warehouseCode">Warehouse</label>
                <input type="text" class="form-control" id="_warehouseCode" name="_warehouseCode" placeholder="Warehouse"
                  [(ngModel)]="searhModel._warehouseCode" #_warehouseCode="ngModel"/>
  
               <!-- <p-autoComplete name="_orgId" ngDefaultControl [(ngModel)]="searhModel._orgId"
                  [suggestions]="orgAutoList" (completeMethod)="getOrgId($event)" [minLength]="1" [immutable]="false">
                </p-autoComplete>-->
  
  
              </div>
              <div class="col-sm-6">

              </div>
            </div>
  
           
            <!--
            <div class="form-group row">
              <div class="col-sm-6">
                <label for="startDate">From Date</label>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="startDate"
                    [(ngModel)]="searhModel.startDate" #startDate="ngModel" />
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <label for="endDate">End Date</label>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="endDate"
                    [(ngModel)]="searhModel.endDate" #endDate="ngModel" />
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>-->
            <div class="form-group row">
              <div class="col-sm-10"></div>
              <div class="col-sm-1">
                <button class="btn btn-primary px-4 float-right">Search</button></div>
              <div class="col-sm-1">
                <button class="btn btn-primary px-4 float-right" (click)="createNewForm(f)">Add</button>
              </div>
            </div>
            <div class="form-group row">
                <label style="text-align: center">Warehouse Commodity Map View</label>
            </div>
                <div class="form-group row">
                <div class="col-sm-6">
                  
                    <div style="box-align:center">
                        <div>
                          <input type="text" (input)="onQuickFilterChanged()" id="quickFilter" placeholder="quick filter..." />
                          Please select a record to view,edit or delete
                        </div>
                        <div style="height: 300px"> 
                        <ag-grid-angular style="width: 66%; height: 100%;" class="ag-theme-balham"
                          [paginationAutoPageSize]="true" [pagination]="true" [rowData]="rowData" [columnDefs]="columnDefs"
                          [defaultColDef]="defaultColDef" [suppressRowClickSelection]="true" [rowSelection]="rowSelection"
                          (rowSelected)="onRowSelected()"  (gridReady)="onGridReady($event)">
                        </ag-grid-angular>
                        </div>
                      </div>
                </div>
                <div class="col-sm-6">
                  
                    <div style="box-align:center" *ngIf = "openWhCommGrid">
                        <div>
                          <input type="text" (input)="onCommMapQuickFilterChanged()" id="commWhquickFilter" placeholder="quick filter..." />
                        </div>
                        <div style="height: 300px"> 
                        <ag-grid-angular style="width: 60%; height: 100%;" class="ag-theme-balham"
                          [paginationAutoPageSize]="true" [pagination]="true" [rowData]="commMappedRowData" [columnDefs]="commMappedcolumnDefs"
                          [defaultColDef]="defaultColDef"  (gridReady)="onCommMappedGridGridReady($event)">
                        </ag-grid-angular>
                      </div>
                      </div>
                </div>

            </div>
            <div class="form-group row">
              <div class="col-sm-1"></div>
              <div class="col-sm-2">
                <button class="btn btn-primary px-4 float-right" (click)="editRecord()">Edit Record</button></div>
              <div class="col-sm-2">
                <button class="btn btn-primary px-4 float-right" (click)="deleteRecord()">Delete Record</button>
              </div>
              <div class="col-sm-7"></div>
            </div>
  
          </form>
  
        </div>
      </div>
    </div>
  </div>